html {
    background-color: #f5f5f5;
    margin-top: 16px;
}

.game-card {
    .game-icon {
        width: 100px;
        height: 100px;
        margin: -16px 16px -8px 16px;
    }
}

.margin-right-2 {
    margin-right: 2px;
}
